@import "tailwindcss";

@theme {
  --color-corporate: #1A1A1A;
  --color-accent: #3A445C;
  --color-brand-light: #8DC8E8;
  --color-secondary: #333333;
  --color-detail: #F5F5F5;

  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Oswald", sans-serif;
  --font-body: "Montserrat", sans-serif;
}
